<div class="box-form-dialog">
    <form novalidate="" id="form" action="{{path('parcelaCreate', {'id' : id})}}" method="post" class="cms ajaxFormTable">
        <div class="myform">         
                    {{ form_errors(form) }}
                
                    <div class="hide">
                        {{ form_errors(form.parcela.registro.conta)}}
                        {{ form_label(form.parcela.registro.conta)}}    
                        {{ form_widget(form.parcela.registro.conta,{'attr' : {'readonly' : 'readonly'}})}}
                    </div>
                
                    <div class="hide">
                        {{ form_errors(form.parcela.registro.descricao)}}
                        {{ form_label(form.parcela.registro.descricao)}}    
                        {{ form_widget(form.parcela.registro.descricao,{'attr' : {'readonly' : 'readonly'}})}}
                    </div>
                
                    <div class="picker">
                        {{ form_errors(form.parcela.dt_vencimento)}}
                        {{ form_label(form.parcela.dt_vencimento)}}    
                        {{ form_widget(form.parcela.dt_vencimento)}}
                    </div>
                
                    <div>
                        {{ form_errors(form.valor)}}
                        {{ form_label(form.valor)}}    
                        {{ form_widget(form.valor, {'attr' : { 'style' : 'width:30%'}})}}
                    </div>
            
                    <div>
                        {{ form_errors(form.formaPagamento)}}
                        {{ form_label(form.formaPagamento)}}    
                        {{ form_widget(form.formaPagamento)}}
                    </div>
           
        </div>                   
             {{ form_row(form._token) }} 
        <div class="box-submit">
            <input type="submit" value="Enviar"/>
            <input class="close" type="button" onclick="dialogClose()" value="Fechar"/>
        </div>   
    </form>
</div>

