{% extends "FnxAdminBundle::layout.html.twig" %}
{% block title %} Pedidos {% endblock %}
{% block stylesheets %}
    <link href="{{ asset('Resources/css/TableTools.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('Resources/css/TableTools_JUI.css') }}" type="text/css" rel="stylesheet" />
    <style>
        .ui-button{
            text-align: center;
            vertical-align: middle;
        }

        .ui-button img{
            width: 16px;
            height: 16px;
            margin: 0;
        }

        .hidden{
            visibility: hidden;
            display: none;
        }


        fieldset{
            margin: 15px;
            padding: 15px 25px;
        }

        #modal_new_item label,
        #modal_new_item .label,
        #modal_new_item input,
        #modal_new_item .input{
            display: block;
            width: 100px;
            float: left;
            height: 18px;
            margin-bottom: 5px;
        }

	.clear{
	    clear: both;
	}
        
        .previsao{
            width: 20% !important;
        }
        
        .box-table2{
            margin-top: 1%;
        }
        
        .DTTT_container{
            margin-right: 0px !important;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Resources/js/TableTools.js') }}"></script>
    <script src="{{ asset('Resources/js/ZeroClipboard.js') }}"></script>

<script>
    var oTable = $('#tableItens').dataTable({
        "bJQueryUI": true,
        "bPaginate": false,
        "bFilter": false,
        "bRetrieve": true,
        "sAjaxSource": Routing.generate("ajaxItem"),
        "aoColumns": [
                { "mDataProp": "nome"},
                { "mDataProp": "descricao" },
                { "mDataProp": "quantidade" },
                { "mDataProp": "preco" },
                { "mDataProp": "total",
                  "sClass" : "center" }
                    
             ],
        "bInfo": false,
         "oLanguage": {
            "sEmptyTable": "Não existe nenhum item"
          },
        //"sDom": 'T<"clear">lfrtip',
        "sDom": '<"H"Tfr>t<"F"ip>',
        "fnFooterCallback": function ( nRow, aaData, iStart, iEnd, aiDisplay ) {
                var total = 0;
                for (var i=0; i < aaData.length; i++){
                    total += aaData[i]["totalNumber"]*1;
                }
                var nCells = nRow.getElementsByTagName('th');
		nCells[1].innerHTML = formataDinheiro(total+"");
            },
        "oTableTools": {
            "sRowSelect": "single",
            "sSelectedClass": "row_selected",
            "aButtons": [
                {
                    "sExtends": "text",
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/icojoy/noshadow/standart/png/24x24/001_01.png'/> Novo Item",
                    "fnClick" : function(){
                            ajaxLoadDialog(Routing.generate("itemAdd", {"pedido" : $('#tableItens').attr("pedido")}));
                    }
                },

                {
                    "sExtends": "select_single",
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/fatcow/32x32_0660/page_white_edit.png'/> Editar",
                    "fnClick" : function(){
                         var aaData = this.fnGetSelectedData()
                         id = aaData[0]["id"];
                         ajaxLoadDialog(Routing.generate("itemEdit", {"id" : id}));

                    }
                },

                {
                    "sExtends": "select_single",
                    "sButtonText": "<img src='http://cdn1.iconfinder.com/data/icons/diagona/icon/16/101.png'/> Deletar",
                    "fnClick" : function(){
                        if (clickTableTerminate()){
                         var aaData = this.fnGetSelectedData()
                         id = aaData[0]["id"];
                         $( "#dialog-confirm" ).dialog("open");
                         $( "#dialog-confirm" ).dialog("option", "buttons", {
                             "Deletar": function() {
                                    ajaxDelete(Routing.generate("itemDelete", {"id" : id})); 
                                    $(this).dialog("close");
                             },
                             "Cancelar": function(){
                                    $(this).dialog("close");
                             }
                         } );
                         return false;
                        }

                    }
                }

            ]
         }
    });
    
</script>
{% endblock %}

{% block menuContent %}
    <div id="menuContent">
        <h3>Gerenciamento: Formulário de pedidos</h3>
        <ul>
            {% if (pedido.id) %} <li><a class="money02-link" href="{{path("PedidoFechar", {'id' : pedido.id})}}"><span></span>{{pedido.status == 'a' ? "Fechar" : "Abrir"}}</a></li> {% endif %}
            <li><a class="back-link" href="{{ path('PedidoListar')}}"><span></span>Voltar</a></li>
        </ul> 
    </div>
{% endblock %}

{% block conteudo%}
{% if (pedido.id) %}
<div style="text-align: right; float: right; margin:15px 1px 15px 3px;">
     <a class="button" href="{{ path("PedidoPagamento", {"id" : pedido.id})}}" title="Pagamento">Pagamento</a> 
</div>
{% endif %}

<form method="POST" action="{{ pedido.id ? path('PedidoEditar', {"id" : pedido.id}) :path('PedidoCadastrar')}}" class="cms">
    <div class="ui-panel-content ui-widget-content " style="width:99.3%">
       <h4 class="ui-panel-title ui-widget-header empty-title"></h4>
       <div id="box-form">
        <div class="myform">
            {{form_errors(form)}}
                
            <div class="complete">
            {{ form_errors(form.cliente) }}
            {{ form_label(form.cliente) }}
            {{ form_widget(form.cliente, {'id' : {'class' : 'teste'} } ) }} <a class="ajax-link button" href="{{ path("clienteAdd")}}" title="Cliente">Adicionar</a> 
            </div>
                
            <div class="picker">
            {{ form_errors(form.previsao) }}
            {{ form_label(form.previsao) }}
            {{ form_widget(form.previsao, {'attr' : {'class' : 'previsao', 'id' : 'cliente'} } ) }}
            </div>

        </div>
           
       </div>
   </div>
   <div style="margin: 3px 3px; margin-top: 1.5%;" class="box-table">
        <table id="tableItens" class="tablePlugin redraw" pedido="{{ pedido.id ? pedido.id : '0' }}" >
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Descrição</th>
                    <th>Quantidade</th>
                    <th>Valor</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" style="text-align: right;">Total: </th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
   </div>
    {{form_row(form._token)}}
    <div class="box-submit">
        <input type="submit" value="Salvar"/>
    </div>
</form>

{% endblock %}