<div class="box-form-pagamento">
    <div class="ui-panel-content ui-widget-content " style="width:99.4%;">
    <h4 class="ui-panel-title ui-widget-header empty-title"></h4>
    <div id="box-form">
    <form novalidate="" class="cms" style="padding: 15px;" action="{{ path('pagamentoPedidoCreate',{'id' : id}) }}" method="post" {{ form_enctype(form) }}>
             {{form_errors(form)}}
            <div class="myform">

            <div>
                {{ form_errors(form.conta)}}
                {{ form_label(form.conta)}}    
                {{ form_widget(form.conta)}}
            </div>
            
            {#<div>
                {{ form_errors(form.descricao)}}
                {{ form_label(form.descricao)}}    
                {{ form_widget(form.descricao)}}
            </div>#}
            
            <div>
                {{ form_errors(form.formaPagamento)}}
                {{ form_label(form.formaPagamento)}}    
                {{ form_widget(form.formaPagamento)}}
            </div>
            
            <div>
                {{ form_errors(form.valor)}}
                {{ form_label(form.valor)}}    
                {{ form_widget(form.valor, {'attr' : { 'style' : 'width:58%'}})}}
            </div>
            
            <div class="picker">
                {{ form_errors(form.primeiraParcela)}}
                {{ form_label(form.primeiraParcela)}}    
                {{ form_widget(form.primeiraParcela, {'attr' : { 'style' : 'width:58%'}})}}
            </div>    
            
            <div>
                {{ form_errors(form.numeroParcela)}}
                {{ form_label(form.numeroParcela)}}    
                {{ form_widget(form.numeroParcela, {'attr' : { 'style' : 'width:11%'}})}}
            </div>
                <div class="box-submit">
                    <input type="submit" value="Enviar"/>
                </div>   
        </div>    
            {{ form_row(form._token) }}
            
        </form>
       </div>
    </div>
</div>
