{% extends "FnxAdminBundle::layout.html.twig" %}

{% block menuContent %}
 <div id="menuContent">
      <h3>Editar Chamado: {{ entity.assunto }}</h3>
      <ul>
         <li><a class="back-link" href="{{ path('chamado')}}"><span></span>Voltar</a></li>
      </ul>
</div>
{% endblock %}

{% block conteudo %}
<form action="{{ path('chamado_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('chamado') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('chamado_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}