{% extends "FnxAdminBundle::layout.html.twig" %}

{% block conteudo %}
<form action="{{ path('chamado_create') }}" method="post" {{ form_enctype(form) }}>

    <div>
	{{ form_label(form.assunto) }}
	{{ form_errors(form.assunto) }}
	{{ form_widget(form.assunto) }}
    </div>

    <div>
	{{ form_label(form.conteudo) }}
	{{ form_errors(form.conteudo) }}
	{{ form_widget(form.conteudo) }}
    </div>

    <p>
        <button type="submit">Create</button>
    </p>
</form>
{% endblock %}