{% extends "FnxAdminBundle::layout.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/yepsuasmartwig/jquery4php-assets/js/plugins/fullcalendar/jquery.fullcalendar.min.js') }}"></script>

{% endblock %}
    
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/yepsuasmartwig/jquery4php-assets/styles/fullcalendar/jquery.fullcalendar.css')}}" />
{% endblock %}

{% block title %} Calendário {% endblock %}

{% block conteudo %}
<div id="legenda">
    {% for servico in servicos %}
        <div class="wrapper-color"><div class="cor" style="background-color: {{servico.cor}}"></div><span>{{servico.nome~"[Escala]"}}</span></div>
    {% endfor %}
    {% for atividade in atividades %}
        <div class="wrapper-color"><div class="cor" style="background-color: {{atividade.servico.cor}}"></div><span>{{atividade.servico.nome~"[Atividade]"}}</span></div>
    {% endfor %}
         <div class="wrapper-color"><div class="cor" style="background-color: purple"></div><span>Pedido</span></div>
</div>

<select style="margin-bottom: 1%">
    <option>Pedido</option>
    <option>Segurança - Atividade</option>
</select>
{{ component_render(calendar) }}

{% endblock %}